header {
    .nav-container {
        @include center-both;
        display: flex;
    }
    .logo {
        width: 200px;
        margin-right: 100px;
        fill: $color-dark-accent;
    }

    .mobile-nav-toggle {
        display: none;
    }

    nav {
        @include center-both;
        height: 180px;
        display: flex;

        .menu {
            @include list-styles;
            display: flex;
            gap: 20px;
            margin-right: 100px;

            a {
                @include link-fix;
                color: black;
                font-size: 1.1rem;
                font-family: $ff;
                font-weight: $ff-regular;

                &:hover {
                    @include hover;
                }

                @include media(tablet, mobile) {
                    color: white;
                }
            }

            .active {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background-color: $color-tertiary-accent;
                    height: 2px;
                    width: 40px;
                    bottom: 0;
                    left: -1px;
                }
            }
        }

        .cart-menu {
            @include list-styles;
            display: flex;
            gap: 30px;
        }
    }

    @include media(tablet, mobile) {
        .nav-container {
            display: flex;
            flex-direction: column;
        }
        .menu {
            position: fixed;
            inset: 0 5% 0 0;
            background-color: rgba(0, 0, 0, 0.9);
            z-index: 8000;
            flex-direction: column;
            padding: 30% 0 0 20%;
            transform: translateX(-100%);
            transition: transform 350ms ease-out;
        }

        .menu[data-visible="true"] {
            transform: translateX(0%);
        }

        .cart-menu {
            margin-top: 30px;
        }

        .logo {
            margin-top: 20%;
            margin-inline: auto;
            margin-bottom: -30%;
            height: 100px;
        }

        .mobile-nav-toggle {
            display: block;
            position: absolute;
            top: 10px;
            left: 50px;
            background-color: transparent;
            border: none;

            .mobile-nav-icon {
                position: relative;
                width: 25px;
                z-index: 8899;
                fill: $color-secondary-accent;
            }
        }
    }

    .color-bar {
        &-top {
            width: 100%;
            height: 40px;
            background-color: $color-dark-accent;
        }

        &-bottom {
            width: 100%;
            height: 40px;
            background-color: $color-tertiary-accent;
        }
    }
}
